.containerHearder{
    background-color: black;
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
   
    

}
.p{
    font-size: 40px;
     animation: giraLogo 4s infinite linear; 
     color: red;
    
    
}
p{
    font-size:30px ;
    
}


@keyframes giraLogo {
    from{
        transform: rotate(360deg);

    } 
    to{
        transform: rotate(0);

    }
    
}
.p1{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

